.button-sb {
  padding: 8px 10px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #818181;
  font-family: sans-serif;
  outline: none;
  transition: all .3s ease-in-out;
}

.button-sb:hover {
  background: #818181;
  color: #fff;
}

.button-sb-block {
  display: block;
  width: 100%;
}

.hide { display: none; }

.select-beauty {
  position: relative;
  display: block;
}

.select-beauty button {
  background: #f2f2f2;
  border: 1px solid #ccc;
  color: #818181;
  text-align: left;
}

.select-beauty ul {
  position: absolute;
  padding: 0 15px;
  margin: 0;
  list-style: none;
  background: #f2f2f2;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 10px 10px 2px rgba(0,0,0,.09);
  border: 1px solid #ccc;
  border-top: none;
  top: auto;
}

.select-beauty ul li {
  float: left;
  width: 33.333%;
}

.select-beauty ul li a {
  display: block;
  font-size: 12px;
  padding: 10px 0;
  color: #818181;
  font-weight: 600;
  /* text-align: center; */
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all .2s ease-in-out;
}

.select-beauty ul li a:hover, .select-beauty ul li.active a { color: #2aabe4; }